.todoallcontainer{
    display: flex;
    justify-content: center;
    z-index:1;
    margin-top:-20px;
    
}

.todoitemscontainer{
    display:flex;
    flex-direction: column;
    background-color: rgb(36,39,59);
    justify-content: center;
    align-items: center;
    width:88%;
    border-radius:5px;
    
}




.todoitems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
word-break: break-word;
}

ul{
  width:100%

  
}

.mappedlist{
    width:100%;
    
}

li{
    list-style-type: none;
    display: flex;
    padding:18px 15px;
    font-size:18px;
    color:rgb(119,122,146);
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    -webkit-animation: li 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: li 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

li:hover{
  color:hsl(233, 11%, 84%)
}



@-webkit-keyframes li {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes li {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


.contentspan{
  display: flex;
  margin-left:4px;
  width:80%;
  
}

.checkboxx{
  margin-right:7px;
}


input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"] + span {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin: -1px 0px 0 0;
    vertical-align: middle;
    background: transparent;
    border:1px solid lightgray;
    border-radius:50%;
    cursor: pointer;
    
  }


  input[type="checkbox"]:checked + span {
    background: linear-gradient(to bottom right, #57DDFFaa,#C058F3aa) ;
    background-size: cover;
    background-repeat: no-repeat;
    border:0.5px solid rgb(190, 206, 211);
    
  }
  
  input[type="checkbox"] + span {
    margin-right: 4px;
    
  }

  

  .bottomdiv{
      font-weight:300;
      font-size: 14px;
      color:rgb(119,122,146);
      display: flex;
      height:8vh;
      width:100%;
      align-items: center;
        justify-content: space-between;
        padding:0px 15px;
  }

  .clearcompleted{
      cursor: pointer;
  }

  .cross > img{
    width:1em;
    display: flex;
    align-items: center;
  }


  .cross{
   width:15%;
    justify-content: flex-end;
    display:flex;
    
  }

  .cross > img:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.3);
    
  }

